.title-generic{
  color: $primary-color;
  font-family: Nunito;
  font-weight: bold;
  font-size: 48px;
}

.text-generic{
  color: $primary-color;
  font-family: Nunito;
  font-weight: 600;
  font-size: 24px;
}
