.slide-section{
  padding: 5%;
.slide-container{
  margin-top: 3%;
   .ant-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin:2% 0% ;

    h2{
      margin:0% 10% ;
    }
    p{
      margin:2% 10% ;
    }
  }


}
}