.training-section{
  width: 100%;
  height: auto;
  background: $secondary-color;
  border-radius: 0 0 40% 0;
  padding: 10% 5%;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  color: $white;
}